<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="glacierAspect" class="com.glacier.spring.aop.schema.advice.GlacierAspect"></bean>

    <bean id="aspectBiz" class="com.glacier.spring.aop.schema.advice.biz.AspectBiz"></bean>

    <aop:config>
        <aop:aspect id="glacierAspectAOP" ref="glacierAspect">
            <!--测试Advice时使用-->
            <aop:pointcut expression="execution(* com.glacier.spring.aop.schema.advice.biz.*Biz.*(..))" id="glacierPointcut"/>
            <!--<aop:before method="before" pointcut-ref="glacierPointcut"/>-->
            <!--<aop:after-returning method="afterReturning" pointcut-ref="glacierPointcut"/>-->
            <!--<aop:after-throwing method="afterThrowing" pointcut-ref="glacierPointcut"/>-->
            <!--<aop:after method="after" pointcut-ref="glacierPointcut"/>-->
            <aop:around method="around" pointcut-ref="glacierPointcut"/>
            <!--<aop:around method="aroundInit" pointcut="execution(* com.glacier.spring.aop.schema.advice.biz.AspectBiz.init(String,int)) and args(bizName, times)"/>-->

            <!--<aop:declare-parents-->
                    <!--types-matching="com.glacier.spring.aop.schema.advice.biz.*(+)"-->
                    <!--implement-interface="com.glacier.spring.aop.schema.advice.Fit"-->
                    <!--default-impl="com.glacier.spring.aop.schema.advice.FitImpl"/>-->
        </aop:aspect>
    </aop:config>

</beans>